/* Marcadores globales */
html{
    box-sizing: border-box;
    font-size: 62.5% /* 1Rem = 10px */;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem; /*Equivale a 16px */
    line-height: 2; /*Interlineado de los parrafos */
}



h1, h2, h3{
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem
}
h3{
    font-size: 3rem;
}

a{
    text-decoration: none;
    color: #000;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

.btn{
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: backgroun-color .3s ease-out;
    border-radius: 1rem;
}
.btn:hover{
    background-color: #769c02;
    box-shadow: 
}

/* Utilidades */
.text-center{
    text-align: center;
}

/* Header y Navegación */
.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span{
    color: #037bc0;
}

.contenedor-navegacion{
    border-top: .1rem solid #e1e1e1;
}

.nav-principal{
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}


.hero{
    background-image: url('../img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* Categorias */
.categorias{
    margin-top: 5rem;
}

.categorias h2{
    text-align: center;
}

.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;  
    font-size: 2rem;
    background-color: #05a3ff;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.categoria a:hover{
    background-color: #037bc0;
    color: whitesmoke;
}

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

/* Bloque Sobre Nosotros */
.sobre-nosotros{
    margin: 5rem .2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .2rem;
    color: whitesmoke;
    text-align: justify;
}
.sobre-nosotros .img-nosotros{
    background-image: url('../img/nosotros.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center center;
    border-bottom-left-radius: 1rem;
    
}
.sobre-nosotros .nosotros{
    padding: 0 1rem;
    background-color: #037bc0;
    border-bottom-right-radius: 1rem;
}
.sobre-nosotros .nosotros h2{
    margin-bottom: 1rem;
}

.sobre-empresa{
    margin: 5rem .2rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: .2rem;
    text-align: justify;
    color: whitesmoke;
}
.sobre-empresa .empresa h2{
    margin-bottom: 1rem;
}
.sobre-empresa .empresa{
    padding: 0 1rem;
    background-color: #037bc0;
    border-bottom-left-radius: 1rem;
}
.sobre-empresa .img-empresa{
    background-image: url('../img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center center;
    border-bottom-right-radius: 1rem;
}

/* Listado de Productos */
.listado-productos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: .5rem;
}

.producto:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom-left-radius: 1rem
}
.producto:nth-child(2) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
    border-bottom-right-radius: 1rem
}
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom-left-radius: 1rem;
}
.producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
}
.producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
    border-bottom-right-radius: 1rem;
}

.producto{
    background-color: #037bc0;
}
.texto-producto{
    text-align: center;
    color: #fff;
    padding: 2rem;
}
.text-producto h3{
    margin: 0;
}
.texto-producto p{
    margin: 0 0 .5rem 0;
    text-align: justify;
}
.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
    text-align: center;
}

/* Footer */
.site-footer{
    border-top: .1rem solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}

.site-footer h3{
    margin-bottom: .5rem;
}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-menu a{
    display: block;
}

.copyrigth{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}